@import '../../styles/base.scss';

.footerContainer {
  display: flex;
  padding: $contentTopsPadding $contentSidePadding;
  border-top: $spacingXS solid $backgroundColorFaded;

  .cancelButton {
    margin-right: auto;
    padding-left: 0;
  }

  .continueButton {
    margin-left: auto;
  }
}
