@import '../../styles/base.scss';

.masterKeyInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include media('<medium') {
    flex-direction: column;
  }

  & li {
    width: 48%;

    @include media('<medium') {
      width: 100%;
      margin-bottom: $spacingS;
    }
  }
}

.errorMessage {
  color: $errorColor;
  font-size: 90%;
}
